<a href="https://colab.research.google.com/github/athabrani/bigdata-final-project/blob/main/TUGAS_BESAR_BIG_DATA_GANJIL_2526.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EDA

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/athabrani/Tugas-Besar-Big-Data-2025/main/raw/Coffee%20Shop%20Sales.csv')

df

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1.0,1/1/2023,7:06:11,2,5,Lower Manhattan,32.0,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2.0,1/1/2023,7:08:56,2,5,Lower Manhattan,57.0,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3.0,1/1/2023,7:14:04,2,5,Lower Manhattan,59.0,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4.0,1/1/2023,7:20:24,1,5,Lower Manhattan,22.0,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5.0,1/1/2023,7:22:41,2,5,Lower Manhattan,57.0,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
...,...,...,...,...,...,...,...,...,...,...,...
149147,149325.0,6/30/2023,17:25:21,1,8,Hell's Kitchen,22.0,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
149148,149326.0,6/30/2023,17:25:21,1,8,Hell's Kitchen,11.0,8.95,Loose Tea,Herbal tea,Lemon Grass
149149,NaN,NaN,17:25:40,1,3,Astoria,53.0,3.00,Tea,Brewed Chai tea,Traditional Blend Chai Lg
149150,149328.0,6/30/2023,17:28:41,1,3,Astoria,56.0,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg
149151,149329.0,6/30/2023,17:31:23,3,5,Lower Manhattan,44.0,2.50,Tea,Brewed herbal tea,Peppermint Rg

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149152 entries, 0 to 149151
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149151 non-null  float64
 1   transaction_date  149150 non-null  object
 2   transaction_time  149151 non-null  object
 3   transaction_qty   149152 non-null  int64
 4   store_id          149152 non-null  int64
 5   store_location    149149 non-null  object
 6   product_id        149150 non-null  float64
 7   unit_price        149151 non-null  float64
 8   product_category  149151 non-null  object
 9   product_type      149151 non-null  object
 10  product_detail    149146 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 12.5+ MB

##PyTrends

In [ ]:
!pip install pytrends

Collecting pytrends
  Downloading pytrends-4.9.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.12/dist-packages (from pytrends) (2.32.4)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.12/dist-packages (from pytrends) (2.2.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.12/dist-packages (from pytrends) (6.0.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.25->pytrends) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0->pytrends) (2025.11.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->pytrends) (1.17.0)
Downloading pytrends-4.9.2-py3-none-any.whl (15 kB)
Installing collected packages: pytrends
Successfully installed pytrends-4.9.2

In [ ]:
from pytrends.request import TrendReq
import pandas as pd


# 1) Inisialisasi
pytrends = TrendReq(hl="en-US", tz=420)  # tz=420 = Asia/Jakarta (+7)

# 2) Parameter
keywords = ["coffee", "bakery", "tea", "milk", "chocolate"]
geo = "US-NY"           # "" untuk worldwide, "GB" UK, "ID" Indonesia
timeframe = "2023-01-01 2023-12-31"  # sesuaikan

# 3) Build payload & request
pytrends.build_payload(keywords, timeframe=timeframe, geo=geo)

# 4) Interest over time
iot = pytrends.interest_over_time()

# 5) Lihat isi
print("Shape:", iot.shape)
print(iot.head(10))          # 10 baris pertama
print(iot.tail(10))          # 10 baris terakhir

# 6) Jika mau jadi kolom biasa
iot_df = iot.reset_index()
print(iot_df.columns)

Shape: (53, 6)
            coffee  bakery  tea  milk  chocolate  isPartial
date
2023-01-01      90      35   60    48         53      False
2023-01-08      87      38   61    48         51      False
2023-01-15      89      37   61    49         51      False
2023-01-22      89      36   58    48         54      False
2023-01-29      87      35   71    48         59      False
2023-02-05      87      37   56    46         60      False
2023-02-12      82      40   55    46         71      False
2023-02-19      95      43   63    51         52      False
2023-02-26      90      37   57    48         54      False
2023-03-05      86      39   56    49         52      False
            coffee  bakery  tea  milk  chocolate  isPartial
date
2023-10-29      88      33   51    45         52      False
2023-11-05      93      37   53    44         51      False
2023-11-12      91      41   52    46         55      False
2023-11-19      96      52   55    52         63      False
2023-11-26      95      33   57    45         59      False
2023-12-03     100      39   58    44         69      False
2023-12-10      92      42   57    44         75      False
2023-12-17      85      50   60    46         88      False
2023-12-24      98      45   60    48         67      False
2023-12-31      91      36   58    47         55      False
Index(['date', 'coffee', 'bakery', 'tea', 'milk', 'chocolate', 'isPartial'], dtype='object')

In [ ]:
# Interest by region (subregion/province)
region = pytrends.interest_by_region(
    resolution="REGION",  # "COUNTRY" / "REGION" / "CITY"
    inc_low_vol=True,     # include low volume regions
    inc_geo_code=False
)

print("Shape:", region.shape)
print(region)

TooManyRequestsError: The request failed: Google returned a response with code 429

In [ ]:
rq = pytrends.related_queries()

# Struktur: dict {keyword: {'top': df, 'rising': df}}
for kw in keywords:
    top_df = rq.get(kw, {}).get("top")
    rising_df = rq.get(kw, {}).get("rising")

    print("\n===================================")
    print("Keyword:", kw)

    if top_df is not None:
        print("\nTop related queries:")
        print(top_df)
    else:
        print("\nTop related queries: None")

    if rising_df is not None:
        print("\nRising related queries:")
        print(rising_df)
    else:
        print("\nRising related queries: None")

TooManyRequestsError: The request failed: Google returned a response with code 429

#ETL

In [ ]:
import os, json, time
from pathlib import Path

import numpy as np
import pandas as pd
import re
from pytrends.request import TrendReq

##Extract

In [ ]:
BASE_DIR = Path("/content/bigdata_final_project")
RAW_DIR = BASE_DIR / "raw"
LOG_DIR = BASE_DIR / "etl_pipeline" / "logs"
OUT_DIR = BASE_DIR / "etl_pipeline" / "output"

RAW_DIR.mkdir(parents=True, exist_ok=True)
LOG_DIR.mkdir(parents=True, exist_ok=True)
OUT_DIR.mkdir(parents=True, exist_ok=True)

EXTRACT_LOG = LOG_DIR / "extract_log.jsonl"
TRANSFORM_LOG = LOG_DIR / "transform_log.jsonl"

def append_jsonl(path: Path, record: dict):
    record = dict(record)
    record["timestamp"] = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
    with path.open("a", encoding="utf-8") as f:
        f.write(json.dumps(record, ensure_ascii=False) + "\n")

In [ ]:
def to_snake_case(col: str) -> str:
    col = col.strip().lower().replace(" ", "_").replace("-", "_")
    col = "".join(ch for ch in col if ch.isalnum() or ch == "_")
    while "__" in col:
        col = col.replace("__", "_")
    return col

def iqr_clip(series: pd.Series) -> pd.Series:
    s = pd.to_numeric(series, errors="coerce")
    q1, q3 = s.quantile(0.25), s.quantile(0.75)
    iqr = q3 - q1
    lo, hi = q1 - 1.5 * iqr, q3 + 1.5 * iqr
    return s.clip(lo, hi)

def normalize_minmax(series: pd.Series) -> pd.Series:
    s = pd.to_numeric(series, errors="coerce")
    mn, mx = s.min(), s.max()
    if pd.isna(mn) or pd.isna(mx) or mx == mn:
        return pd.Series([0.0]*len(series), index=series.index)
    return (s - mn) / (mx - mn)

In [ ]:
def extract_etl_source1() -> Path:
    url = "https://raw.githubusercontent.com/athabrani/Tugas-Besar-Big-Data-2025/main/raw/Coffee%20Shop%20Sales.csv"
    out_path = RAW_DIR / "source1_coffee_shop_sales_raw.csv"

    t0 = time.time()
    df = pd.read_csv(url)            # RAW
    df.to_csv(out_path, index=False) # RAW save
    exec_s = time.time() - t0

    append_jsonl(EXTRACT_LOG, {
        "stage": "extract",
        "source_name": "github_raw_csv_coffee_shop_sales",
        "output_file": str(out_path),
        "rows": int(df.shape[0]),
        "cols": int(df.shape[1]),
        "size_bytes": int(out_path.stat().st_size),
        "exec_seconds": round(exec_s, 4),
    })
    return out_path

In [ ]:
def derive_timeframe_from_sales(raw_sales_path: Path) -> str:
    tmp = pd.read_csv(raw_sales_path)
    tmp.columns = [to_snake_case(c) for c in tmp.columns]

    if "transaction_date" not in tmp.columns:
        # fallback aman kalau kolom berbeda
        # (Anda bisa sesuaikan jika nama kolom lain)
        raise ValueError("Kolom transaction_date tidak ditemukan pada sales.")

    dt = pd.to_datetime(tmp["transaction_date"], errors="coerce")
    if dt.notna().sum() == 0:
        raise ValueError("Semua transaction_date gagal diparse. Cek format tanggal di dataset.")

    start = dt.min().date()
    end = dt.max().date()
    return f"{start} {end}"

In [ ]:
def extract_etl_source2(raw_sales_path: Path) -> Path:
    keywords = ["coffee", "bakery", "tea", "chocolate"]
    geo = "US-NY"

    timeframe = derive_timeframe_from_sales(raw_sales_path)

    out_path = RAW_DIR / "source2_pytrends_interest_over_time_raw.csv"

    t0 = time.time()
    pytrends = TrendReq(hl="en-US", tz=420)
    pytrends.build_payload(keywords, timeframe=timeframe, geo=geo)
    iot = pytrends.interest_over_time()   # RAW

    iot.to_csv(out_path, index=True)      # RAW save (index date)
    exec_s = time.time() - t0

    append_jsonl(EXTRACT_LOG, {
        "stage": "extract",
        "source_name": "google_trends_pytrends_interest_over_time",
        "params": {"keywords": keywords, "geo": geo, "timeframe": timeframe},
        "output_file": str(out_path),
        "rows": int(iot.shape[0]),
        "cols": int(iot.shape[1]),
        "size_bytes": int(out_path.stat().st_size),
        "exec_seconds": round(exec_s, 4),
    })
    return out_path

In [ ]:
raw_sales_path = extract_etl_source1()
raw_trends_path = extract_etl_source2(raw_sales_path)

raw_sales_path, raw_trends_path

(PosixPath('/content/bigdata_final_project/raw/source1_coffee_shop_sales_raw.csv'),
 PosixPath('/content/bigdata_final_project/raw/source2_pytrends_interest_over_time_raw.csv'))

In [ ]:
CATEGORY_PATTERNS = {
    "tea":       r"\btea\b|herbal\s+tea|chai|matcha|earl\s+grey|green\s+tea|black\s+tea",
    "coffee":    r"\bcoffee\b|espresso|latte|cappuccino|americano|macchiato|cold\s+brew|mocha|gourmet|\bdrip\b|\bbrewed\b",
    "chocolate": r"\bchocolate\b|cocoa|hot\s+chocolate|choc\b",
    "bakery":    r"\bbakery\b|croissant|muffin|cookie|cake|pastry|bread|donut|brownie|scone|biscotti",

}

# Prioritas (misal "mocha latte" bisa match chocolate & coffee; kita pilih coffee dulu)
CATEGORY_PRIORITY = ["coffee", "tea", "chocolate", "bakery"]

def map_product_to_category(text: str):
    if pd.isna(text):
        return None
    t = str(text).lower().strip()
    for cat in CATEGORY_PRIORITY:
        if re.search(CATEGORY_PATTERNS[cat], t):
            return cat
    return None

##Transform

In [ ]:
def load_raw_sources(raw_sales_path: Path, raw_trends_path: Path):
    sales = pd.read_csv(raw_sales_path)
    trends = pd.read_csv(raw_trends_path)

    sales.columns = [to_snake_case(c) for c in sales.columns]
    trends.columns = [to_snake_case(c) for c in trends.columns]

    return sales, trends

In [ ]:
def define_primary_key_and_dedup(sales: pd.DataFrame):
    pk = "transaction_id" if "transaction_id" in sales.columns else None

    if pk is None:
        candidate = [c for c in ["transaction_date", "transaction_time", "store_location", "product_id", "product_type", "product_category"] if c in sales.columns]
        if not candidate:
            candidate = sales.columns[:3].tolist()
        sales["transaction_sk"] = pd.util.hash_pandas_object(sales[candidate], index=False).astype("int64")
        pk = "transaction_sk"

    before = len(sales)
    sales = sales.drop_duplicates(subset=[pk], keep="first")
    dup_removed = before - len(sales)

    return sales, pk, dup_removed

In [ ]:
def handle_missing_values(sales: pd.DataFrame):
    for c in sales.columns:
        if sales[c].dtype.kind in "biufc":
            if sales[c].isna().any():
                sales[c] = sales[c].fillna(sales[c].median())
        else:
            if sales[c].isna().any():
                sales[c] = sales[c].fillna("unknown")
    return sales

In [ ]:
def standardize_datetime(sales: pd.DataFrame):
    if "transaction_date" in sales.columns:
        sales["transaction_date"] = pd.to_datetime(sales["transaction_date"], errors="coerce")
    if "transaction_time" in sales.columns:
        sales["transaction_time"] = sales["transaction_time"].astype(str)
    return sales

In [ ]:
def drop_unwanted_categories(sales: pd.DataFrame):
    # dataset biasanya punya kolom product_category dan/atau product_type
    if "product_category" in sales.columns:
        drop_vals = {"branded", "flavours", "flavors"}  # variasi ejaan
        mask = sales["product_category"].astype(str).str.lower().isin(drop_vals)
        sales = sales.loc[~mask].copy()

    return sales

In [ ]:
def drop_unmapped_products(df: pd.DataFrame):
    before = len(df)
    df = df[df["product_category_mapped"].notna()].copy()
    dropped = before - len(df)
    return df, dropped

In [ ]:
def outlier_and_normalize(sales: pd.DataFrame):
    numeric_cols = [c for c in sales.columns if sales[c].dtype.kind in "biufc"]
    prefer = [c for c in ["unit_price", "transaction_qty", "total_bill", "sales_amount", "total_amount"] if c in numeric_cols]
    target_outliers = (prefer + [c for c in numeric_cols if c not in prefer])[:2]

    outlier_cols_used = []
    for c in target_outliers:
        sales[c] = iqr_clip(sales[c])
        outlier_cols_used.append(c)

    norm_cols_used = []
    for c in target_outliers[:2]:
        sales[f"{c}_minmax"] = normalize_minmax(sales[c])
        norm_cols_used.append(c)

    return sales, outlier_cols_used, norm_cols_used

In [ ]:
def encode_one_categorical(sales: pd.DataFrame):
    cat_candidates = [c for c in ["product_category", "product_type", "store_location"] if c in sales.columns]
    encoded_col = None

    if cat_candidates:
        encoded_col = cat_candidates[0]
        sales[encoded_col] = sales[encoded_col].astype(str)
        ohe = pd.get_dummies(sales[encoded_col], prefix=encoded_col)
        sales = pd.concat([sales.drop(columns=[encoded_col]), ohe], axis=1)

    return sales, encoded_col

In [ ]:
def prepare_trends_date(trends: pd.DataFrame):
    if "date" in trends.columns:
        trend_date_col = "date"
    elif "unnamed:_0" in trends.columns:
        trend_date_col = "unnamed:_0"
    elif "unnamed:0" in trends.columns:
        trend_date_col = "unnamed:0"
    else:
        trend_date_col = trends.columns[0]

    trends = trends.rename(columns={trend_date_col: "trend_date"})
    trends["trend_date"] = pd.to_datetime(trends["trend_date"], errors="coerce")
    return trends

def join_sales_trends_by_date(sales: pd.DataFrame, trends: pd.DataFrame):
    if "transaction_date" not in sales.columns:
        return sales.copy()

    sales["sale_date"] = sales["transaction_date"].dt.date
    trends["trend_date_only"] = trends["trend_date"].dt.date

    trend_value_cols = [c for c in trends.columns if c not in ("trend_date", "trend_date_only") and c != "ispartial"]
    trends_daily = trends.groupby("trend_date_only")[trend_value_cols].mean().reset_index()

    merged = sales.merge(trends_daily, how="left", left_on="sale_date", right_on="trend_date_only").drop(columns=["trend_date_only"])
    return merged

In [ ]:
def add_features(merged: pd.DataFrame):
    # time features
    if "transaction_date" in merged.columns and pd.api.types.is_datetime64_any_dtype(merged["transaction_date"]):
        merged["year"] = merged["transaction_date"].dt.year
        merged["month"] = merged["transaction_date"].dt.month
        merged["day_of_week"] = merged["transaction_date"].dt.dayofweek
        merged["is_weekend"] = merged["day_of_week"].isin([5, 6]).astype(int)
        merged["date_key"] = pd.to_numeric(merged["transaction_date"].dt.strftime("%Y%m%d"), errors="coerce").fillna(0).astype("int64")
    else:
        merged["year"] = 0
        merged["month"] = 0
        merged["day_of_week"] = 0
        merged["is_weekend"] = 0
        merged["date_key"] = 0

    # revenue
    if "unit_price" in merged.columns and "transaction_qty" in merged.columns:
        merged["gross_revenue"] = pd.to_numeric(merged["unit_price"], errors="coerce") * pd.to_numeric(merged["transaction_qty"], errors="coerce")
    elif "total_bill" in merged.columns:
        merged["gross_revenue"] = pd.to_numeric(merged["total_bill"], errors="coerce")
    else:
        merged["gross_revenue"] = 0.0

    merged["rev_per_unit"] = np.where(
        pd.to_numeric(merged.get("transaction_qty", 0), errors="coerce").fillna(0) > 0,
        merged["gross_revenue"].fillna(0) / pd.to_numeric(merged.get("transaction_qty", 1), errors="coerce").replace(0, np.nan),
        0.0
    )
    merged["rev_per_unit"] = merged["rev_per_unit"].fillna(0.0)

    # trend summary
    trend_cols = [c for c in ["coffee", "bakery", "tea", "chocolate"] if c in merged.columns]
    if trend_cols:
        merged["trend_avg"] = merged[trend_cols].mean(axis=1)
        merged["trend_max"] = merged[trend_cols].max(axis=1)
    else:
        merged["trend_avg"] = np.nan
        merged["trend_max"] = np.nan

    return merged

In [ ]:
def add_product_category_mapped(merged: pd.DataFrame, raw_sales_path: Path, pk: str):
    raw_sales_for_map = pd.read_csv(raw_sales_path)
    raw_sales_for_map.columns = [to_snake_case(c) for c in raw_sales_for_map.columns]

    map_col = "product_type" if "product_type" in raw_sales_for_map.columns else None
    if map_col is None:
        map_col = "product_detail" if "product_detail" in raw_sales_for_map.columns else None

    if map_col:
        mapper = raw_sales_for_map[[pk, map_col]].drop_duplicates(subset=[pk])
        mapper["product_category_mapped"] = mapper[map_col].apply(map_product_to_category)
        merged = merged.merge(mapper[[pk, "product_category_mapped"]], how="left", on=pk)
    else:
        merged["product_category_mapped"] = "other"

    return merged

def add_trend_for_product(merged: pd.DataFrame):
    for c in ["coffee", "bakery", "tea", "chocolate"]:
        if c not in merged.columns:
            merged[c] = np.nan

    def pick_trend(row):
        cat = row.get("product_category_mapped", "other")
        if cat in ["coffee", "bakery", "tea", "chocolate"]:
            return row.get(cat, np.nan)
        return np.nan

    merged["trend_for_product"] = merged.apply(pick_trend, axis=1)

    if "trend_avg" in merged.columns:
        merged["trend_for_product"] = merged["trend_for_product"].fillna(merged["trend_avg"])
    merged["trend_for_product"] = merged["trend_for_product"].fillna(0)

    return merged

In [ ]:
def validate_and_fix_data_quality(merged: pd.DataFrame, pk: str):
    dq_results = []

    # 1 uniqueness
    unique_ok = merged[pk].is_unique
    dq_results.append({"rule": "uniqueness_check", "target": pk, "ok": bool(unique_ok)})
    if not unique_ok:
        merged = merged.drop_duplicates(subset=[pk], keep="first")

    # 2 null check
    critical_cols = [c for c in [pk, "date_key", "gross_revenue"] if c in merged.columns]
    null_ok = not merged[critical_cols].isnull().any().any()
    dq_results.append({"rule": "null_check", "target": critical_cols, "ok": bool(null_ok)})
    if not null_ok:
        merged = merged[merged[pk].notna()]
        merged["gross_revenue"] = merged["gross_revenue"].fillna(0.0)
        merged["date_key"] = merged["date_key"].fillna(0).astype("int64")

    # 3 range check
    range_ok = (merged["gross_revenue"].fillna(0) >= 0).all()
    dq_results.append({"rule": "range_check", "target": "gross_revenue>=0", "ok": bool(range_ok)})
    if not range_ok:
        merged.loc[merged["gross_revenue"] < 0, "gross_revenue"] = 0.0

    # 4 datatype consistency
    try:
        merged["date_key"] = merged["date_key"].astype("int64")
        dtype_ok_date_key = True
    except:
        dtype_ok_date_key = False
        merged["date_key"] = pd.to_numeric(merged["date_key"], errors="coerce").fillna(0).astype("int64")
    dq_results.append({"rule": "datatype_consistency", "target": "date_key:int64", "ok": bool(dtype_ok_date_key)})

    # 5 referential integrity
    if "transaction_date" in merged.columns:
        ref_ok = ((merged["date_key"] != 0) == merged["transaction_date"].notna()).all()
    else:
        ref_ok = True
    dq_results.append({"rule": "referential_integrity", "target": "date_key <-> transaction_date", "ok": bool(ref_ok)})
    if not ref_ok and "transaction_date" in merged.columns:
        merged.loc[merged["transaction_date"].isna(), "date_key"] = 0

    # 6 distribution check
    s = merged["gross_revenue"].dropna()
    if len(s) > 0:
        p99 = s.quantile(0.99)
        med = s.median()
        dist_ok = True if med == 0 else (p99 / med <= 50)
    else:
        dist_ok = False
        p99 = np.nan
    dq_results.append({"rule": "distribution_check", "target": "gross_revenue p99/median<=50", "ok": bool(dist_ok)})
    if not dist_ok and len(s) > 0:
        merged["gross_revenue"] = merged["gross_revenue"].clip(upper=p99)

    return merged, dq_results

In [ ]:
def final_nan_cleanup(df: pd.DataFrame):
    before = len(df)

    # 1. Wajib punya kategori
    df = df[df["product_category_mapped"].notna()].copy()

    # 2. Pastikan numeric penting tidak NaN
    df["gross_revenue"] = df["gross_revenue"].fillna(0)
    df["rev_per_unit"] = df["rev_per_unit"].fillna(0)
    df["trend_for_product"] = df["trend_for_product"].fillna(0)

    # 3. Date key wajib valid
    df = df[df["date_key"] != 0]

    dropped = before - len(df)
    return df, dropped

In [ ]:
def transform_etl(raw_sales_path: Path, raw_trends_path: Path) -> Path:
    t0 = time.time()

    # 1 load + snake_case
    sales_raw, trends = load_raw_sources(raw_sales_path, raw_trends_path)

    # 2 PK + dedup
    # sales_deduped will have 'transaction_id' or 'transaction_sk'
    sales_deduped, pk_col_name, dup_removed = define_primary_key_and_dedup(sales_raw)

    # Ensure the primary key column is named 'transaction_key' for consistent downstream use
    sales_transformed = sales_deduped.rename(columns={pk_col_name: "transaction_key"})
    pk_col_name_standardized = "transaction_key"

    # 3 missing values
    sales_transformed = handle_missing_values(sales_transformed)

    # 4 datetime standardization
    sales_transformed = standardize_datetime(sales_transformed)

    sales_transformed = drop_unwanted_categories(sales_transformed)

    # 5 outlier + normalization
    sales_transformed, outlier_cols_used, norm_cols_used = outlier_and_normalize(sales_transformed)

    # 6 encoding
    sales_transformed, encoded_col = encode_one_categorical(sales_transformed)

    # 7 prepare trends + join
    trends = prepare_trends_date(trends)
    merged = join_sales_trends_by_date(sales_transformed, trends)

    # 8 features
    merged = add_features(merged)

    # 9 mapping kategori + trend_for_product
    merged = add_product_category_mapped(merged, raw_sales_path, pk_col_name_standardized)
    merged, dropped_unmapped = drop_unmapped_products(merged)
    merged = add_trend_for_product(merged)

    # 10 data quality validation + fixes
    merged, dq_results = validate_and_fix_data_quality(merged, pk_col_name_standardized)

    merged, dq_results = validate_and_fix_data_quality(merged, pk_col_name_standardized)

    # 11 FINAL NaN CLEANUP
    merged, nan_dropped_rows = final_nan_cleanup(merged)

    # trend_nan_rate
    trend_nan_rate = {c: float(merged[c].isna().mean()) for c in ["coffee","bakery","tea","chocolate"] if c in merged.columns}

    # save output
    out_path = OUT_DIR / "etl_transformed_sales_enriched.csv"
    merged.to_csv(out_path, index=False)

    append_jsonl(TRANSFORM_LOG, {
        "stage": "transform",
        "input_files": [str(raw_sales_path), str(raw_trends_path)],
        "output_file": str(out_path),
        "rows": int(merged.shape[0]),
        "cols": int(merged.shape[1]),
        "pk_used": pk_col_name_standardized,
        "dup_removed": int(dup_removed),
        "outlier_method": "IQR clipping (1.5*IQR)",
        "outlier_cols_used": outlier_cols_used,
        "normalized_cols": norm_cols_used,
        "encoded_col_original": encoded_col,
        "trend_nan_rate": trend_nan_rate,
        "dq_rules": dq_results,
        "exec_seconds": round(time.time() - t0, 4),
        "dropped_unmapped_products": int(dropped_unmapped),
    })

    return out_path

In [ ]:
def build_daily_category_aggregate(df: pd.DataFrame):
    df = df.copy()

    # pastikan sale_date ada
    if "transaction_date" in df.columns:
        df["sale_date"] = pd.to_datetime(df["transaction_date"]).dt.date
    else:
        df["sale_date"] = pd.to_datetime(df["date_key"].astype(str), format="%Y%m%d").dt.date

    agg = (
        df
        .groupby(["sale_date", "product_category_mapped"])
        .agg(
            year=("year", "first"),
            month=("month", "first"),
            day_of_week=("day_of_week", "first"),
            is_weekend=("is_weekend", "first"),

            n_transactions=("transaction_key", "count"),
            total_qty=("transaction_qty", "sum"),
            daily_revenue=("gross_revenue", "sum"),

            avg_revenue_per_tx=("gross_revenue", "mean"),
            avg_trend_for_product=("trend_for_product", "mean"),

            trend_avg_overall=("trend_avg", "mean"),
            trend_max_overall=("trend_max", "max"),
        )
        .reset_index()
    )

    # rounding biar rapi
    for c in [
        "daily_revenue",
        "avg_revenue_per_tx",
        "avg_trend_for_product",
        "trend_avg_overall",
        "trend_max_overall",
    ]:
        if c in agg.columns:
            agg[c] = agg[c].round(2)

    return agg

####Run transform

In [ ]:
def add_product_category_mapped(merged: pd.DataFrame, raw_sales_path: Path, original_pk_name_in_raw: str, standardized_pk_name: str):
    raw_sales_for_map = pd.read_csv(raw_sales_path)
    raw_sales_for_map.columns = [to_snake_case(c) for c in raw_sales_for_map.columns]

    map_col = "product_type" if "product_type" in raw_sales_for_map.columns else None
    if map_col is None:
        map_col = "product_detail" if "product_detail" in raw_sales_for_map.columns else None

    if map_col:
        # Use the original_pk_name_in_raw to select from raw_sales_for_map
        mapper = raw_sales_for_map[[original_pk_name_in_raw, map_col]].drop_duplicates(subset=[original_pk_name_in_raw])
        mapper["product_category_mapped"] = mapper[map_col].apply(map_product_to_category)
        # Rename the original PK column in mapper to the standardized PK name before merging
        mapper = mapper.rename(columns={original_pk_name_in_raw: standardized_pk_name})
        merged = merged.merge(mapper[[standardized_pk_name, "product_category_mapped"]], how="left", on=standardized_pk_name)
    else:
        merged["product_category_mapped"] = "other"

    return merged

def transform_etl(raw_sales_path: Path, raw_trends_path: Path) -> Path:
    t0 = time.time()

    # 1 load + snake_case
    sales_raw, trends = load_raw_sources(raw_sales_path, raw_trends_path)

    # 2 PK + dedup
    sales_deduped, pk_col_name, dup_removed = define_primary_key_and_dedup(sales_raw)

    # Ensure the primary key column is named 'transaction_key' for consistent downstream use
    sales_transformed = sales_deduped.rename(columns={pk_col_name: "transaction_key"})
    pk_col_name_standardized = "transaction_key"

    # 3 missing values
    sales_transformed = handle_missing_values(sales_transformed)

    # 4 datetime standardization
    sales_transformed = standardize_datetime(sales_transformed)

    sales_transformed = drop_unwanted_categories(sales_transformed)

    # 5 outlier + normalization
    sales_transformed, outlier_cols_used, norm_cols_used = outlier_and_normalize(sales_transformed)

    # 6 encoding
    sales_transformed, encoded_col = encode_one_categorical(sales_transformed)

    # 7 prepare trends + join
    trends = prepare_trends_date(trends)
    merged = join_sales_trends_by_date(sales_transformed, trends)

    # 8 features
    merged = add_features(merged)

    # 9 mapping kategori + trend_for_product
    merged = add_product_category_mapped(merged, raw_sales_path, pk_col_name, pk_col_name_standardized)
    merged, dropped_unmapped = drop_unmapped_products(merged)
    merged = add_trend_for_product(merged)

    # 10 data quality validation + fixes
    merged, dq_results = validate_and_fix_data_quality(merged, pk_col_name_standardized)

    merged, dq_results = validate_and_fix_data_quality(merged, pk_col_name_standardized)

    # 11 FINAL NaN CLEANUP
    merged, nan_dropped_rows = final_nan_cleanup(merged)

    # trend_nan_rate
    trend_nan_rate = {c: float(merged[c].isna().mean()) for c in ["coffee","bakery","tea","chocolate"] if c in merged.columns}

    # save output
    out_path = OUT_DIR / "etl_transformed_sales_enriched.csv"
    merged.to_csv(out_path, index=False)

    append_jsonl(TRANSFORM_LOG, {
        "stage": "transform",
        "input_files": [str(raw_sales_path), str(raw_trends_path)],
        "output_file": str(out_path),
        "rows": int(merged.shape[0]),
        "cols": int(merged.shape[1]),
        "pk_used": pk_col_name_standardized,
        "dup_removed": int(dup_removed),
        "outlier_method": "IQR clipping (1.5*IQR)",
        "outlier_cols_used": outlier_cols_used,
        "normalized_cols": norm_cols_used,
        "encoded_col_original": encoded_col,
        "trend_nan_rate": trend_nan_rate,
        "dq_rules": dq_results,
        "exec_seconds": round(time.time() - t0, 4),
        "dropped_unmapped_products": int(dropped_unmapped),
    })

    return out_path

transformed_path = transform_etl(raw_sales_path, raw_trends_path)
df_transformed = pd.read_csv(transformed_path)

transformed_path, df_transformed.shape

(PosixPath('/content/bigdata_final_project/etl_pipeline/output/etl_transformed_sales_enriched.csv'),
 (140511, 35))

In [ ]:
trend_cols = [c for c in ["coffee", "bakery", "tea", "chocolate"] if c in df_transformed.columns]
df_transformed[trend_cols].isna().mean().sort_values(ascending=False)

coffee       0.0
bakery       0.0
tea          0.0
chocolate    0.0
dtype: float64

In [ ]:
df_transformed[["product_category_mapped", "trend_for_product"]]

       product_category_mapped  trend_for_product
0                       coffee               88.0
1                       coffee               88.0
2                    chocolate               51.0
3                       coffee               88.0
4                       coffee               88.0
...                        ...                ...
140506                  coffee               74.0
140507                  coffee               74.0
140508                  coffee               74.0
140509                  coffee               74.0
140510                  coffee               74.0

[140511 rows x 2 columns]

Baris `coffee = 89`

Pada tanggal transaksi tersebut, minat pencarian Google untuk kata "coffee" di wilayah US-NY berada di 89% dari puncak popularitasnya selama periode analisis.

Baris `coffee = 73`

Minat pencarian menurun dibanding hari puncak, tetapi masih relatif tinggi.

Baris `chocolate = 52`

Minat pencarian cokelat berada di tingkat menengah, sekitar setengah dari puncaknya.

In [ ]:
df_transformed

,transaction_key,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_type,product_detail,...,month,day_of_week,is_weekend,date_key,gross_revenue,rev_per_unit,trend_avg,trend_max,product_category_mapped,trend_for_product
0,1.0,2023-01-01,7:06:11,2.0,5,Lower Manhattan,32.0,3.00,Gourmet brewed coffee,Ethiopia Rg,...,1.0,6.0,1,20230101,6.00,3.00,60.25,88.0,coffee,88.0
1,2.0,2023-01-01,7:08:56,2.0,5,Lower Manhattan,57.0,3.10,Brewed Chai tea,Spicy Eye Opener Chai Lg,...,1.0,6.0,1,20230101,6.20,3.10,60.25,88.0,coffee,88.0
2,3.0,2023-01-01,7:14:04,2.0,5,Lower Manhattan,59.0,4.50,Hot chocolate,Dark chocolate Lg,...,1.0,6.0,1,20230101,9.00,4.50,60.25,88.0,chocolate,51.0
3,4.0,2023-01-01,7:20:24,1.0,5,Lower Manhattan,22.0,2.00,Drip coffee,Our Old Time Diner Blend Sm,...,1.0,6.0,1,20230101,2.00,2.00,60.25,88.0,coffee,88.0
4,5.0,2023-01-01,7:22:41,2.0,5,Lower Manhattan,57.0,3.10,Brewed Chai tea,Spicy Eye Opener Chai Lg,...,1.0,6.0,1,20230101,6.20,3.10,60.25,88.0,coffee,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140506,149451.0,2023-06-30,20:16:31,2.0,5,Lower Manhattan,42.0,2.50,Brewed herbal tea,Lemon Grass Rg,...,6.0,4.0,0,20230630,5.00,2.50,48.00,74.0,coffee,74.0
140507,149452.0,2023-06-30,20:18:41,2.0,8,Hell's Kitchen,44.0,2.50,Brewed herbal tea,Peppermint Rg,...,6.0,4.0,0,20230630,5.00,2.50,48.00,74.0,coffee,74.0
140508,149453.0,2023-06-30,20:25:10,2.0,8,Hell's Kitchen,49.0,3.00,Brewed Black tea,English Breakfast Lg,...,6.0,4.0,0,20230630,6.00,3.00,48.00,74.0,coffee,74.0
140509,149454.0,2023-06-30,20:31:34,1.0,8,Hell's Kitchen,45.0,3.00,Brewed herbal tea,Peppermint Lg,...,6.0,4.0,0,20230630,3.00,3.00,48.00,74.0,coffee,74.0
140510,149455.0,2023-06-30,20:57:19,1.0,8,Hell's Kitchen,40.0,3.75,Barista Espresso,Cappuccino,...,6.0,4.0,0,20230630,3.75,3.75,48.00,74.0,coffee,74.0

Nilai `trend_for_product` merepresentasikan tingkat minat pencarian Google terhadap kategori produk pada waktu transaksi, dalam skala relatif terhadap puncak minat kategori tersebut selama periode observasi.`

In [ ]:
df_daily_category = build_daily_category_aggregate(df_transformed)

out_agg_path = OUT_DIR / "mart_daily_category_sales.csv"
df_daily_category.to_csv(out_agg_path, index=False)

df_daily_category.head(20)

,sale_date,product_category_mapped,year,month,day_of_week,is_weekend,n_transactions,total_qty,daily_revenue,avg_revenue_per_tx,avg_trend_for_product,trend_avg_overall,trend_max_overall
0,2023-01-01,bakery,2023.0,1.0,6.0,1,68,68.0,241.50,3.55,45.0,60.25,88.0
1,2023-01-01,chocolate,2023.0,1.0,6.0,1,50,73.0,295.50,5.91,51.0,60.25,88.0
2,2023-01-01,coffee,2023.0,1.0,6.0,1,432,661.0,1971.20,4.56,88.0,60.25,88.0
3,2023-01-02,bakery,2023.0,1.0,0.0,0,87,87.0,309.75,3.56,35.0,58.25,89.0
4,2023-01-02,chocolate,2023.0,1.0,0.0,0,38,53.0,220.50,5.80,50.0,58.25,89.0
5,2023-01-02,coffee,2023.0,1.0,0.0,0,441,650.0,1873.10,4.25,89.0,58.25,89.0
6,2023-01-03,bakery,2023.0,1.0,1.0,0,81,81.0,288.75,3.56,25.0,49.25,75.0
7,2023-01-03,chocolate,2023.0,1.0,1.0,0,54,81.0,343.75,6.37,45.0,49.25,75.0
8,2023-01-03,coffee,2023.0,1.0,1.0,0,447,661.0,1932.50,4.32,75.0,49.25,75.0
9,2023-01-04,bakery,2023.0,1.0,2.0,0,61,61.0,214.50,3.52,28.0,56.00,84.0
10,2023-01-04,chocolate,2023.0,1.0,2.0,0,43,62.0,258.50,6.01,54.0,56.00,84.0
11,2023-01-04,coffee,2023.0,1.0,2.0,0,393,603.0,1747.10,4.45,84.0,56.00,84.0
12,2023-01-05,bakery,2023.0,1.0,3.0,0,73,73.0,259.25,3.55,31.0,52.50,80.0
13,2023-01-05,chocolate,2023.0,1.0,3.0,0,48,72.0,298.50,6.22,44.0,52.50,80.0
14,2023-01-05,coffee,2023.0,1.0,3.0,0,426,633.0,1861.10,4.37,80.0,52.50,80.0
15,2023-01-06,bakery,2023.0,1.0,4.0,0,78,78.0,275.75,3.54,35.0,53.00,74.0
16,2023-01-06,chocolate,2023.0,1.0,4.0,0,41,65.0,266.25,6.49,46.0,53.00,74.0
17,2023-01-06,coffee,2023.0,1.0,4.0,0,390,593.0,1731.85,4.44,74.0,53.00,74.0
18,2023-01-07,bakery,2023.0,1.0,5.0,1,80,80.0,286.50,3.58,38.0,60.25,93.0
19,2023-01-07,chocolate,2023.0,1.0,5.0,1,43,64.0,273.75,6.37,53.0,60.25,93.0

In [ ]:
print("=== EXTRACT LOG (first 2 lines) ===")
with open(EXTRACT_LOG, "r", encoding="utf-8") as f:
    for i in range(2):
        print(f.readline().strip())

print("\n=== TRANSFORM LOG (last line) ===")
!tail -n 1 /content/bigdata_final_project/etl_pipeline/logs/transform_log.jsonl

=== EXTRACT LOG (first 2 lines) ===
{"stage": "extract", "source_name": "github_raw_csv_coffee_shop_sales", "output_file": "/content/bigdata_final_project/raw/source1_coffee_shop_sales_raw.csv", "rows": 149152, "cols": 11, "size_bytes": 14166596, "exec_seconds": 1.3146, "timestamp": "2026-01-06 14:10:17"}
{"stage": "extract", "source_name": "google_trends_pytrends_interest_over_time", "params": {"keywords": ["coffee", "bakery", "tea", "chocolate"], "geo": "US-NY", "timeframe": "2023-01-01 2023-06-30"}, "output_file": "/content/bigdata_final_project/raw/source2_pytrends_interest_over_time_raw.csv", "rows": 181, "cols": 5, "size_bytes": 5293, "exec_seconds": 0.684, "timestamp": "2026-01-06 14:10:18"}

=== TRANSFORM LOG (last line) ===
{"stage": "transform", "input_files": ["/content/bigdata_final_project/raw/source1_coffee_shop_sales_raw.csv", "/content/bigdata_final_project/raw/source2_pytrends_interest_over_time_raw.csv"], "output_file": "/content/bigdata_final_project/etl_pipeline/output/etl_transformed_sales_enriched.csv", "rows": 140511, "cols": 35, "pk_used": "transaction_key", "dup_removed": 35, "outlier_method": "IQR clipping (1.5*IQR)", "outlier_cols_used": ["unit_price", "transaction_qty"], "normalized_cols": ["unit_price", "transaction_qty"], "encoded_col_original": "product_category", "trend_nan_rate": {"coffee": 0.0, "bakery": 0.0, "tea": 0.0, "chocolate": 0.0}, "dq_rules": [{"rule": "uniqueness_check", "target": "transaction_key", "ok": true}, {"rule": "null_check", "target": ["transaction_key", "date_key", "gross_revenue"], "ok": true}, {"rule": "range_check", "target": "gross_revenue>=0", "ok": true}, {"rule": "datatype_consistency", "target": "date_key:int64", "ok": true}, {"rule": "referential_integrity", "target": "date_key <-> transaction_date", "ok": true}, {"rule": "distribution_check", "target": "gross_revenue p99/median<=50", "ok": true}], "exec_seconds": 8.2284, "dropped_unmapped_products": 1069, "timestamp": "2026-01-06 14:10:26"}

In [ ]:
tmp = pd.read_csv(raw_sales_path)
tmp.columns = [to_snake_case(c) for c in tmp.columns]
dt = pd.to_datetime(tmp["transaction_date"], errors="coerce")
print("Parse success ratio:", dt.notna().mean())
print("Min/max:", dt.min(), dt.max())

Parse success ratio: 0.9999865908603304
Min/max: 2023-01-01 00:00:00 2023-06-30 00:00:00

In [ ]:
from google.colab import files

output_path = "etl_df_transformed_clean.csv"
df_transformed.to_csv(output_path, index=False)

files.download(output_path)

##Load

In [ ]:
import sqlite3
from pathlib import Path
import time, json

WAREHOUSE_DIR = BASE_DIR / "warehouse"
WAREHOUSE_DIR.mkdir(parents=True, exist_ok=True)

DB_PATH = WAREHOUSE_DIR / "coffee_dw.sqlite"
LOAD_LOG = LOG_DIR / "load_log.jsonl"

def append_jsonl(path: Path, record: dict):
    record = dict(record)
    record["timestamp"] = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
    with path.open("a", encoding="utf-8") as f:
        f.write(json.dumps(record, ensure_ascii=False) + "\n")

In [ ]:
def create_star_schema(conn: sqlite3.Connection):
    cur = conn.cursor()
    cur.execute("PRAGMA foreign_keys = ON;")

    # Drop lama (agar rerun aman)
    cur.executescript("""
    DROP TABLE IF EXISTS fact_sales;
    DROP TABLE IF EXISTS dim_trend;
    DROP TABLE IF EXISTS dim_product_category;
    DROP TABLE IF EXISTS dim_date;
    """)

    # Dim Date
    cur.executescript("""
    CREATE TABLE dim_date (
        date_key INTEGER PRIMARY KEY,
        sale_date TEXT,
        year INTEGER,
        month INTEGER,
        day_of_week INTEGER,
        is_weekend INTEGER
    );
    """)

    # Dim Product Category (mapped)
    cur.executescript("""
    CREATE TABLE dim_product_category (
        product_category_id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_category_mapped TEXT UNIQUE
    );
    """)

    # Dim Trend (kombinasi nilai trend per tanggal)
    cur.executescript("""
    CREATE TABLE dim_trend (
        trend_id INTEGER PRIMARY KEY AUTOINCREMENT,
        coffee REAL,
        bakery REAL,
        tea REAL,
        chocolate REAL,
        trend_avg REAL,
        trend_max REAL,
        UNIQUE (coffee, bakery, tea, chocolate, trend_avg, trend_max)
    );
    """)

    # Fact Sales
    cur.executescript("""
    CREATE TABLE fact_sales (
        transaction_key TEXT PRIMARY KEY,
        date_key INTEGER,
        product_category_id INTEGER,
        trend_id INTEGER,
        gross_revenue REAL,
        rev_per_unit REAL,
        trend_for_product REAL,
        FOREIGN KEY (date_key) REFERENCES dim_date(date_key),
        FOREIGN KEY (product_category_id) REFERENCES dim_product_category(product_category_id),
        FOREIGN KEY (trend_id) REFERENCES dim_trend(trend_id)
    );
    """)
    cur.executescript("""
    DROP TABLE IF EXISTS mart_daily_category_sales;
    CREATE TABLE mart_daily_category_sales (
        sale_date TEXT,
        product_category TEXT,
        year INTEGER,
        month INTEGER,
        day_of_week INTEGER,
        is_weekend INTEGER,
        n_transactions INTEGER,
        total_qty REAL,
        daily_revenue REAL,
        avg_revenue_per_tx REAL,
        avg_trend_for_product REAL,
        trend_avg_overall REAL,
        trend_max_overall REAL
    );
    """)
    conn.commit()

In [ ]:
def prepare_dim_fact(df_transformed: pd.DataFrame):
    df = df_transformed.copy()

    # Tentukan transaction_key
    if "transaction_id" in df.columns:
        df["transaction_key"] = df["transaction_id"].astype(str)
    elif "transaction_sk" in df.columns:
        df["transaction_key"] = df["transaction_sk"].astype(str)
    else:
        # fallback terakhir
        df["transaction_key"] = pd.util.hash_pandas_object(df, index=False).astype("int64").astype(str)

    # Pastikan kolom minimal ada
    needed_cols = ["date_key", "year", "month", "day_of_week", "is_weekend",
                   "gross_revenue", "rev_per_unit", "trend_for_product", "product_category_mapped"]
    for c in needed_cols:
        if c not in df.columns:
            df[c] = 0

    # Dim Date
    # sale_date bisa dihitung dari date_key supaya konsisten
    df["sale_date"] = df["date_key"].astype(str)
    df["sale_date"] = pd.to_datetime(df["sale_date"], format="%Y%m%d", errors="coerce").dt.strftime("%Y-%m-%d")

    dim_date = (
        df[["date_key", "sale_date", "year", "month", "day_of_week", "is_weekend"]]
        .drop_duplicates(subset=["date_key"])
        .sort_values("date_key")
    )

    # Dim Product Category
    dim_product_category = (
        df[["product_category_mapped"]]
        .fillna("other")
        .drop_duplicates()
        .sort_values("product_category_mapped")
    )

    # Dim Trend
    trend_cols = ["coffee", "bakery", "tea", "chocolate", "trend_avg", "trend_max"]
    for c in trend_cols:
        if c not in df.columns:
            df[c] = np.nan

    dim_trend = (
        df[trend_cols]
        .drop_duplicates()
        .reset_index(drop=True)
    )

    fact_sales = df[[
        "transaction_key", "date_key", "product_category_mapped",
        "gross_revenue", "rev_per_unit", "trend_for_product"
    ] + trend_cols].copy()

    return dim_date, dim_product_category, dim_trend, fact_sales

In [ ]:
def load_to_sqlite(df_transformed: pd.DataFrame, db_path: Path) -> Path:
    t0 = time.time()
    status = "success"
    message = None

    conn = sqlite3.connect(db_path)
    conn.execute("PRAGMA foreign_keys = ON;")

    try:
        # 1) Create schema
        create_star_schema(conn)

        # 2) Prepare dims/facts
        dim_date, dim_product_category, dim_trend, fact_sales = prepare_dim_fact(df_transformed)

        # 3) Load dim tables
        dim_date.to_sql("dim_date", conn, if_exists="append", index=False)
        dim_product_category.to_sql("dim_product_category", conn, if_exists="append", index=False)
        dim_trend.to_sql("dim_trend", conn, if_exists="append", index=False)

        # 4) Build lookup maps
        # product_category_id
        prod_map = pd.read_sql_query("SELECT product_category_id, product_category_mapped FROM dim_product_category", conn)
        fact_sales = fact_sales.merge(prod_map, on="product_category_mapped", how="left")

        # trend_id by matching exact values (dim_trend uniqueness)
        trend_map = pd.read_sql_query("""
            SELECT trend_id, coffee, bakery, tea, chocolate, trend_avg, trend_max
            FROM dim_trend
        """, conn)

        fact_sales = fact_sales.merge(trend_map, on=["coffee","bakery","tea","chocolate","trend_avg","trend_max"], how="left")

        # 5) Final fact
        final_fact = fact_sales[[
            "transaction_key", "date_key", "product_category_id", "trend_id",
            "gross_revenue", "rev_per_unit", "trend_for_product"
        ]].copy()

        # Rename transaction_key -> match DDL
        final_fact = final_fact.rename(columns={"transaction_key": "transaction_key"})

        # Pastikan tidak ada FK null (perbaikan agar load tidak gagal)
        final_fact["product_category_id"] = final_fact["product_category_id"].fillna(
            prod_map.loc[prod_map["product_category_mapped"]=="other","product_category_id"].iloc[0]
            if (prod_map["product_category_mapped"]=="other").any()
            else prod_map["product_category_id"].min()
        ).astype(int)

        # jika trend_id null, set ke 1 (atau buat default trend row; ini minimum fix untuk load)
        final_fact["trend_id"] = final_fact["trend_id"].fillna(1).astype(int)

        # Load fact
        final_fact.to_sql("fact_sales", conn, if_exists="append", index=False)

        # Fix: Rename product_category_mapped to product_category for the mart table
        df_daily_category_to_sql = df_daily_category.rename(columns={'product_category_mapped': 'product_category'})
        df_daily_category_to_sql.to_sql("mart_daily_category_sales", conn, if_exists="append", index=False)

        conn.commit()

        exec_s = time.time() - t0

        append_jsonl(LOAD_LOG, {
            "stage": "load",
            "db_path": str(db_path),
            "status": status,
            "message": message,
            "tables_loaded": {
                "dim_date": int(dim_date.shape[0]),
                "dim_product_category": int(dim_product_category.shape[0]),
                "dim_trend": int(dim_trend.shape[0]),
                "fact_sales": int(final_fact.shape[0]),
            },
            "exec_seconds": round(exec_s, 4),
            "db_size_bytes": int(db_path.stat().st_size) if db_path.exists() else None
        })

    except Exception as e:
        status = "failed"
        message = str(e)
        exec_s = time.time() - t0
        append_jsonl(LOAD_LOG, {
            "stage": "load",
            "db_path": str(db_path),
            "status": status,
            "message": message,
            "exec_seconds": round(exec_s, 4),
        })
        raise
    finally:
        conn.close()

    return db_path

In [ ]:
db_path = load_to_sqlite(df_transformed, DB_PATH)
db_path

PosixPath('/content/bigdata_final_project/warehouse/coffee_dw.sqlite')

In [ ]:
from IPython.display import display

conn = sqlite3.connect(DB_PATH)
conn.execute("PRAGMA foreign_keys = ON;")

queries = {
    "Q1_total_revenue": """
        SELECT ROUND(SUM(gross_revenue), 2) AS total_revenue
        FROM fact_sales;
    """,
    "Q2_revenue_by_month": """
        SELECT
          d.year,
          d.month,
          COUNT(f.transaction_key) AS n_transactions,
          ROUND(SUM(f.gross_revenue), 2) AS revenue
        FROM fact_sales f
        JOIN dim_date d ON f.date_key = d.date_key
        GROUP BY d.year, d.month
        ORDER BY d.year, d.month;
    """,
    "Q3_revenue_by_category": """
        SELECT
          p.product_category_mapped,
          COUNT(f.transaction_key) AS n_transactions,
          ROUND(SUM(f.gross_revenue), 2) AS revenue,
          ROUND(AVG(f.gross_revenue),2) AS avg_revenue_per_tx
        FROM fact_sales f
        JOIN dim_product_category p ON f.product_category_id = p.product_category_id
        GROUP BY p.product_category_mapped
        ORDER BY revenue DESC;
    """,
    "Q4_avg_rev_per_unit_by_category": """
        SELECT p.product_category_mapped, ROUND(AVG(f.rev_per_unit), 3) AS avg_rev_per_unit
        FROM fact_sales f
        JOIN dim_product_category p ON f.product_category_id = p.product_category_id
        GROUP BY p.product_category_mapped
        ORDER BY avg_rev_per_unit DESC;
    """,
    "Q5_weekend_vs_weekday_revenue": """
        SELECT
          d.is_weekend,
          COUNT(f.transaction_key) AS n_transactions,
          ROUND(SUM(f.gross_revenue),2) AS revenue,
          ROUND(AVG(f.gross_revenue),2) AS avg_revenue_per_tx
        FROM fact_sales f
        JOIN dim_date d ON f.date_key = d.date_key
        GROUP BY d.is_weekend
        ORDER BY d.is_weekend;
    """,
    "Q6_top_10_days_revenue": """
        SELECT d.sale_date, ROUND(SUM(f.gross_revenue), 2) AS revenue
        FROM fact_sales f
        JOIN dim_date d ON f.date_key = d.date_key
        GROUP BY d.sale_date
        ORDER BY revenue DESC
        LIMIT 10;
    """,
    "Q7_trend_vs_revenue_daily": """
        SELECT
          d.sale_date,
          COUNT(f.transaction_key) AS n_transactions,
          COUNT(DISTINCT f.transaction_key) AS n_unique_tx,
          ROUND(SUM(f.gross_revenue),2) AS daily_revenue,
          ROUND(AVG(f.trend_for_product),2) AS avg_trend_for_product
        FROM fact_sales f
        JOIN dim_date d ON f.date_key = d.date_key
        GROUP BY d.sale_date
        ORDER BY d.sale_date;
    """,
    "Q8_category_trend_avg": """
        SELECT p.product_category_mapped,
               ROUND(AVG(f.trend_for_product), 2) AS avg_trend_for_product,
               ROUND(SUM(f.gross_revenue), 2) AS revenue
        FROM fact_sales f
        JOIN dim_product_category p ON f.product_category_id = p.product_category_id
        GROUP BY p.product_category_mapped
        ORDER BY avg_trend_for_product DESC;
    """,
    "Q9_join_integrity_check": """
        SELECT
            SUM(CASE WHEN d.date_key IS NULL THEN 1 ELSE 0 END) AS missing_date_fk,
            SUM(CASE WHEN p.product_category_id IS NULL THEN 1 ELSE 0 END) AS missing_category_fk,
            SUM(CASE WHEN t.trend_id IS NULL THEN 1 ELSE 0 END) AS missing_trend_fk
        FROM fact_sales f
        LEFT JOIN dim_date d ON f.date_key = d.date_key
        LEFT JOIN dim_product_category p ON f.product_category_id = p.product_category_id
        LEFT JOIN dim_trend t ON f.trend_id = t.trend_id;
    """,
    "Q10_monthly_category_share": """
        SELECT d.year, d.month, p.product_category_mapped,
               ROUND(SUM(f.gross_revenue), 2) AS revenue
        FROM fact_sales f
        JOIN dim_date d ON f.date_key = d.date_key
        JOIN dim_product_category p ON f.product_category_id = p.product_category_id
        GROUP BY d.year, d.month, p.product_category_mapped
        ORDER BY d.year, d.month, revenue DESC;
    """
}

results = {}
for name, q in queries.items():
    results[name] = pd.read_sql_query(q, conn)


# tampilkan beberapa hasil
display(results["Q1_total_revenue"]), display(results["Q2_revenue_by_month"]), display(results["Q3_revenue_by_category"])

   total_revenue
0      634484.46

   year  month  n_transactions    revenue
0  2023      1           16302   73310.41
1  2023      2           15427   69697.79
2  2023      3           20039   90327.82
3  2023      4           23865  107855.33
4  2023      5           31589  142755.83
5  2023      6           33289  150537.28

  product_category_mapped  n_transactions    revenue  avg_revenue_per_tx
0                  coffee          104550  470207.28                4.50
1                  bakery           22796   82315.57                3.61
2               chocolate           11955   75155.38                6.29
3                     tea            1210    6806.25                5.63

(None, None, None)

In [ ]:
print("=== LOAD LOG (last line) ===")
!tail -n 1 /content/bigdata_final_project/etl_pipeline/logs/load_log.jsonl

=== LOAD LOG (last line) ===
{"stage": "load", "db_path": "/content/bigdata_final_project/warehouse/coffee_dw.sqlite", "status": "success", "message": null, "tables_loaded": {"dim_date": 181, "dim_product_category": 4, "dim_trend": 181, "fact_sales": 140511}, "exec_seconds": 1.5997, "db_size_bytes": 11792384, "timestamp": "2026-01-06 14:10:32"}

In [ ]:
tables = pd.read_sql_query("""
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name;
""", conn)

tables

                        name
0                   dim_date
1       dim_product_category
2                  dim_trend
3                 fact_sales
4  mart_daily_category_sales
5            sqlite_sequence

In [ ]:
pd.read_sql_query("SELECT * FROM dim_date ;", conn)

     date_key   sale_date  year  month  day_of_week  is_weekend
0    20230101  2023-01-01  2023      1            6           1
1    20230102  2023-01-02  2023      1            0           0
2    20230103  2023-01-03  2023      1            1           0
3    20230104  2023-01-04  2023      1            2           0
4    20230105  2023-01-05  2023      1            3           0
..        ...         ...   ...    ...          ...         ...
176  20230626  2023-06-26  2023      6            0           0
177  20230627  2023-06-27  2023      6            1           0
178  20230628  2023-06-28  2023      6            2           0
179  20230629  2023-06-29  2023      6            3           0
180  20230630  2023-06-30  2023      6            4           0

[181 rows x 6 columns]

In [ ]:
pd.read_sql_query("SELECT * FROM dim_product_category;", conn)

   product_category_id product_category_mapped
0                    1                  bakery
1                    2               chocolate
2                    3                  coffee
3                    4                     tea

In [ ]:
pd.read_sql_query("SELECT * FROM fact_sales ;", conn)

,transaction_key,date_key,product_category_id,trend_id,gross_revenue,rev_per_unit,trend_for_product
0,-2365834410364599482,20230101,3,1,6.00,3.00,88.0
1,-848210564924004163,20230101,3,1,6.20,3.10,88.0
2,1400019642508590544,20230101,2,1,9.00,4.50,51.0
3,2533188039036318246,20230101,3,1,2.00,2.00,88.0
4,-814190886931758228,20230101,3,1,6.20,3.10,88.0
...,...,...,...,...,...,...,...
140506,-609126568708032696,20230630,3,181,5.00,2.50,74.0
140507,2630308613639173586,20230630,3,181,5.00,2.50,74.0
140508,-1466154564580745680,20230630,3,181,6.00,3.00,74.0
140509,1881348035610723562,20230630,3,181,3.00,3.00,74.0
140510,5132211276940920415,20230630,3,181,3.75,3.75,74.0

In [ ]:
from google.colab import files
db_path = DB_PATH
Output_file = "etl_analytical_queries_result.xlsx"

conn = sqlite3.connect(db_path)

with pd.ExcelWriter(Output_file) as writer:
    for sheet_name, query in queries.items():
        df = pd.read_sql(query, conn)
        df.to_excel(writer, sheet_name=sheet_name[:31], index=False)

conn.close()

files.download(Output_file)

#ELT

##Extract

In [ ]:
BASE_DIR = Path("/content/bigdata_final_project")
WAREHOUSE_DIR = BASE_DIR / "warehouse"
LOG_DIR = BASE_DIR / "elt_pipeline" / "logs"
WAREHOUSE_DIR.mkdir(parents=True, exist_ok=True)
LOG_DIR.mkdir(parents=True, exist_ok=True)

DB_PATH_ELT = WAREHOUSE_DIR / "coffee_dw_elt.sqlite"
LOAD_LOG_ELT = LOG_DIR / "elt_load_log.jsonl"

def append_jsonl(path: Path, record: dict):
    record = dict(record)
    record["timestamp"] = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
    with path.open("a", encoding="utf-8") as f:
        f.write(json.dumps(record, ensure_ascii=False) + "\n")

sales_url = "https://raw.githubusercontent.com/athabrani/Tugas-Besar-Big-Data-2025/main/raw/Coffee%20Shop%20Sales.csv"
raw_sales = pd.read_csv(sales_url)

# raw_trends_path dari ETL Anda sebelumnya (file RAW hasil pytrends interest_over_time)
raw_trends = pd.read_csv(raw_trends_path)

raw_sales.shape, raw_trends.shape

##Load

In [ ]:
conn = sqlite3.connect(DB_PATH_ELT)
cur = conn.cursor()

cur.executescript("""
DROP TABLE IF EXISTS raw_sales;
DROP TABLE IF EXISTS raw_trends;

DROP TABLE IF EXISTS elt_dim_date;
DROP TABLE IF EXISTS elt_dim_product_category;
DROP TABLE IF EXISTS elt_dim_trend_daily;
DROP TABLE IF EXISTS elt_fact_sales;
""")
conn.commit()

t0 = time.time()

raw_sales.to_sql("raw_sales", conn, if_exists="replace", index=False)
raw_trends.to_sql("raw_trends", conn, if_exists="replace", index=False)
conn.commit()

# metadata load
append_jsonl(LOAD_LOG_ELT, {
    "stage": "extract_load_raw",
    "db_path": str(DB_PATH_ELT),
    "tables": {
        "raw_sales": {"rows": int(raw_sales.shape[0]), "cols": int(raw_sales.shape[1]), "columns": raw_sales.columns.tolist()},
        "raw_trends": {"rows": int(raw_trends.shape[0]), "cols": int(raw_trends.shape[1]), "columns": raw_trends.columns.tolist()}
    },
    "exec_seconds": round(time.time() - t0, 4),
    "db_size_bytes": int(DB_PATH_ELT.stat().st_size)
})

##Transform

###normalisasi tanggal & agregasi harian

In [ ]:

# Deteksi kolom tanggal di raw_trends (biasanya "date" atau "Unnamed: 0")
cols_trends = pd.read_sql("PRAGMA table_info(raw_trends);", conn)
trend_cols_list = cols_trends["name"].tolist()

# pilih kolom tanggal yang paling mungkin
if "date" in trend_cols_list:
    trend_date_col = "date"
elif "Unnamed: 0" in trend_cols_list:
    trend_date_col = "Unnamed: 0"
elif "unnamed: 0" in trend_cols_list:
    trend_date_col = "unnamed: 0"
elif "unnamed:_0" in trend_cols_list:
    trend_date_col = "unnamed:_0"
else:
    trend_date_col = trend_cols_list[0]  # fallback: kolom pertama

needed_trend_cols = ["coffee", "bakery", "tea", "chocolate"]
missing = [c for c in needed_trend_cols if c not in trend_cols_list]
if missing:
    raise ValueError(f"Kolom trend ini tidak ada di raw_trends: {missing}. Kolom tersedia: {trend_cols_list}")

cur.executescript("DROP TABLE IF EXISTS elt_dim_trend_daily;")

# NOTE: trend_max dihitung pakai CASE (SQLite tidak mendukung max multi-arg dalam aggregate)
sql_dim_trend = f"""
CREATE TABLE elt_dim_trend_daily AS
WITH base AS (
  SELECT
    DATE("{trend_date_col}") AS trend_date,
    AVG(coffee)    AS coffee,
    AVG(bakery)    AS bakery,
    AVG(tea)       AS tea,
    AVG(chocolate) AS chocolate
  FROM raw_trends
  GROUP BY DATE("{trend_date_col}")
),
final AS (
  SELECT
    trend_date,
    coffee, bakery, tea, chocolate,
    (COALESCE(coffee,0)+COALESCE(bakery,0)+COALESCE(tea,0)+COALESCE(chocolate,0))/4.0 AS trend_avg,
    CASE
      WHEN COALESCE(coffee,0) >= COALESCE(bakery,0)
       AND COALESCE(coffee,0) >= COALESCE(tea,0)
       AND COALESCE(coffee,0) >= COALESCE(chocolate,0) THEN COALESCE(coffee,0)
      WHEN COALESCE(bakery,0) >= COALESCE(tea,0)
       AND COALESCE(bakery,0) >= COALESCE(chocolate,0) THEN COALESCE(bakery,0)
      WHEN COALESCE(tea,0) >= COALESCE(chocolate,0) THEN COALESCE(tea,0)
      ELSE COALESCE(chocolate,0)
    END AS trend_max
  FROM base
)
SELECT * FROM final;
"""

cur.executescript(sql_dim_trend)
conn.commit()

pd.read_sql("SELECT COUNT(*) AS n, MIN(trend_date) AS min_d, MAX(trend_date) AS max_d FROM elt_dim_trend_daily;", conn)

In [ ]:
cur.executescript("DROP TABLE IF EXISTS elt_fact_sales;")

sql_fact_fixed = """
CREATE TABLE elt_fact_sales AS
WITH cleaned AS (
  SELECT
    CAST(transaction_id AS TEXT) AS transaction_key,

    CASE
      WHEN instr(trim(transaction_date), '/') > 0 THEN
        printf(
          '%04d-%02d-%02d',
          CAST(substr(substr(trim(transaction_date), instr(trim(transaction_date), '/') + 1),
                    instr(substr(trim(transaction_date), instr(trim(transaction_date), '/') + 1), '/') + 1) AS INTEGER),
          CAST(substr(trim(transaction_date), 1, instr(trim(transaction_date), '/') - 1) AS INTEGER),
          CAST(substr(substr(trim(transaction_date), instr(trim(transaction_date), '/') + 1),
                    1,
                    instr(substr(trim(transaction_date), instr(trim(transaction_date), '/') + 1), '/') - 1) AS INTEGER)
        )
      ELSE
        substr(trim(transaction_date), 1, 10)
    END AS sale_date_str,

    LOWER(COALESCE(product_category,'')) AS product_category_raw,
    LOWER(COALESCE(product_type,''))     AS product_type_raw,
    CAST(unit_price AS REAL)             AS unit_price,
    CAST(transaction_qty AS REAL)        AS transaction_qty
  FROM raw_sales
),
filtered AS (
  SELECT
    transaction_key,
    date(sale_date_str) AS sale_date,
    product_category_raw,
    product_type_raw,
    unit_price,
    transaction_qty
  FROM cleaned
  WHERE date(sale_date_str) IS NOT NULL
    AND product_category_raw NOT IN ('branded','flavours','flavors','housewares')
    AND product_type_raw NOT IN ('housewares','clothing')
),
mapped AS (
  SELECT
    transaction_key,
    sale_date,
    unit_price,
    transaction_qty,
    CASE
      WHEN product_type_raw LIKE '%coffee%'
        OR product_type_raw LIKE '%espresso%'
        OR product_type_raw LIKE '%latte%'
        OR product_type_raw LIKE '%cappuccino%'
        OR product_type_raw LIKE '%americano%'
        OR product_type_raw LIKE '%macchiato%'
        OR product_type_raw LIKE '%cold brew%'
        OR product_type_raw LIKE '%mocha%'
        OR product_type_raw LIKE '%drip%'
        OR product_type_raw LIKE '%beans%'
      THEN 'coffee'

      WHEN product_type_raw LIKE '%tea%'
        OR product_type_raw LIKE '%chai%'
        OR product_type_raw LIKE '%matcha%'
        OR product_type_raw LIKE '%earl%'
        OR product_type_raw LIKE '%herbal%'
      THEN 'tea'

      WHEN product_type_raw LIKE '%chocolate%'
        OR product_type_raw LIKE '%cocoa%'
      THEN 'chocolate'

      WHEN product_type_raw LIKE '%bakery%'
        OR product_type_raw LIKE '%croissant%'
        OR product_type_raw LIKE '%muffin%'
        OR product_type_raw LIKE '%cookie%'
        OR product_type_raw LIKE '%cake%'
        OR product_type_raw LIKE '%pastry%'
        OR product_type_raw LIKE '%bread%'
        OR product_type_raw LIKE '%donut%'
        OR product_type_raw LIKE '%brownie%'
        OR product_type_raw LIKE '%scone%'
        OR product_type_raw LIKE '%biscotti%'
      THEN 'bakery'

      ELSE NULL
    END AS product_category_mapped
  FROM filtered
),
final_mapped AS (
  SELECT *
  FROM mapped
  WHERE product_category_mapped IS NOT NULL
),
joined AS (
  SELECT
    f.transaction_key,
    f.sale_date,
    CAST(STRFTIME('%Y%m%d', f.sale_date) AS INTEGER) AS date_key,
    CAST(STRFTIME('%Y', f.sale_date) AS INTEGER) AS year,
    CAST(STRFTIME('%m', f.sale_date) AS INTEGER) AS month,
    CAST(STRFTIME('%w', f.sale_date) AS INTEGER) AS day_of_week,
    CASE WHEN CAST(STRFTIME('%w', f.sale_date) AS INTEGER) IN (0,6) THEN 1 ELSE 0 END AS is_weekend,

    f.product_category_mapped,

    -- TAMBAHAN: simpan unit_price & qty ke fact
    f.unit_price,
    f.transaction_qty,

    (COALESCE(f.unit_price,0) * COALESCE(f.transaction_qty,0)) AS gross_revenue,

    CASE
      WHEN COALESCE(f.transaction_qty,0) != 0
      THEN (COALESCE(f.unit_price,0) * COALESCE(f.transaction_qty,0)) / f.transaction_qty
      ELSE 0
    END AS rev_per_unit,

    t.coffee, t.bakery, t.tea, t.chocolate, t.trend_avg, t.trend_max,

    CASE f.product_category_mapped
      WHEN 'coffee' THEN COALESCE(t.coffee, 0)
      WHEN 'bakery' THEN COALESCE(t.bakery, 0)
      WHEN 'tea' THEN COALESCE(t.tea, 0)
      WHEN 'chocolate' THEN COALESCE(t.chocolate, 0)
      ELSE COALESCE(t.trend_avg, 0)
    END AS trend_for_product

  FROM final_mapped f
  LEFT JOIN elt_dim_trend_daily t
    ON t.trend_date = f.sale_date
)
SELECT *
FROM joined
WHERE date_key IS NOT NULL AND date_key != 0;
"""

cur.executescript(sql_fact_fixed)
conn.commit()

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS elt_daily_category_sales_trend;

CREATE TABLE elt_daily_category_sales_trend AS
SELECT
  sale_date,
  product_category_mapped AS product_category,

  -- atribut kalender (sudah ada di fact)
  MIN(year)        AS year,
  MIN(month)       AS month,
  MIN(day_of_week) AS day_of_week,
  MIN(is_weekend)  AS is_weekend,

  -- metrik transaksi & penjualan
  COUNT(DISTINCT transaction_key) AS n_transactions,
  ROUND(SUM(transaction_qty), 2)  AS total_qty,
  ROUND(SUM(gross_revenue), 2)    AS daily_revenue,
  ROUND(AVG(gross_revenue), 2)    AS avg_revenue_per_tx,

  -- metrik trend (kategori-specific dan overall)
  ROUND(AVG(trend_for_product), 2) AS avg_trend_for_product,
  ROUND(AVG(trend_avg), 2)         AS trend_avg_overall,
  ROUND(AVG(trend_max), 2)         AS trend_max_overall

FROM elt_fact_sales
GROUP BY sale_date, product_category_mapped
ORDER BY sale_date, product_category_mapped;
""")
conn.commit()

In [ ]:
pd.read_sql("""
SELECT *
FROM elt_daily_category_sales_trend
ORDER BY sale_date, product_category;
""", conn).head(20)

In [ ]:
pd.read_sql("""
SELECT
  COUNT(*) AS n_days,
  MIN(sale_date) AS min_date,
  MAX(sale_date) AS max_date
FROM elt_daily_sales_trend;
""", conn)

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS elt_daily_sales_trend;

CREATE TABLE elt_daily_sales_trend AS
SELECT
  sale_date,
  COUNT(*) AS n_transactions,
  ROUND(SUM(gross_revenue),2) AS daily_revenue,
  ROUND(AVG(trend_for_product),2) AS avg_trend_for_product
FROM elt_fact_sales
GROUP BY sale_date;
""")

conn.commit()

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS elt_dim_date;
CREATE TABLE elt_dim_date AS
SELECT DISTINCT date_key, sale_date, year, month, day_of_week, is_weekend
FROM elt_fact_sales
ORDER BY date_key;

DROP TABLE IF EXISTS elt_dim_product_category;
CREATE TABLE elt_dim_product_category AS
SELECT DISTINCT product_category_mapped
FROM elt_fact_sales
ORDER BY product_category_mapped;
""")
conn.commit()

pd.read_sql("SELECT * FROM elt_dim_product_category;", conn)

In [ ]:
import pandas as pd
from IPython.display import display

elt_queries = {
  "Q1_total_revenue": """
    SELECT ROUND(SUM(gross_revenue), 2) AS total_revenue
    FROM elt_fact_sales;
  """,
  "Q2_revenue_by_month": """
   SELECT
      year,
      month,
      COUNT(*) AS n_transactions,
      ROUND(SUM(gross_revenue), 2) AS revenue
    FROM elt_fact_sales
    GROUP BY year, month
    ORDER BY year, month;
  """,
  "Q3_revenue_by_category": """
    SELECT
      product_category_mapped,
      COUNT(*) AS n_transactions,
      ROUND(SUM(gross_revenue), 2) AS revenue,
      ROUND(AVG(gross_revenue),2) AS avg_revenue_per_tx
    FROM elt_fact_sales
    GROUP BY product_category_mapped
    ORDER BY revenue DESC;
  """,
  "Q4_avg_rev_per_unit_by_category": """
    SELECT product_category_mapped, ROUND(AVG(rev_per_unit),3) AS avg_rev_per_unit
    FROM elt_fact_sales
    GROUP BY product_category_mapped
    ORDER BY avg_rev_per_unit DESC;
  """,
  "Q5_weekend_vs_weekday_revenue": """
   SELECT
      is_weekend,
      COUNT(*) AS n_transactions,
      ROUND(SUM(gross_revenue),2) AS revenue,
      ROUND(AVG(gross_revenue),2) AS avg_revenue_per_tx
    FROM elt_fact_sales
    GROUP BY is_weekend
    ORDER BY is_weekend;
  """,
  "Q6_top_10_days_revenue": """
    SELECT sale_date, ROUND(SUM(gross_revenue),2) AS revenue
    FROM elt_fact_sales
    GROUP BY sale_date
    ORDER BY revenue DESC
    LIMIT 10;
  """,
  "Q7_trend_vs_revenue_daily": """
   SELECT
      sale_date,
      COUNT(*) AS n_transactions,
      COUNT(DISTINCT transaction_key) AS n_unique_tx,
      ROUND(SUM(gross_revenue),2) AS daily_revenue,
      ROUND(AVG(trend_for_product),2) AS avg_trend_for_product
    FROM elt_fact_sales
    GROUP BY sale_date
    ORDER BY sale_date;

  """,
  "Q8_category_trend_avg": """
    SELECT product_category_mapped,
           ROUND(AVG(trend_for_product),2) AS avg_trend_for_product,
           ROUND(SUM(gross_revenue),2) AS revenue
    FROM elt_fact_sales
    GROUP BY product_category_mapped
    ORDER BY avg_trend_for_product DESC;
  """,
  "Q9_daily_category_sales_trend": """
   SELECT
    sale_date,
    product_category,
    n_transactions,
    total_qty,
    daily_revenue,
    avg_revenue_per_tx,
    avg_trend_for_product,
    is_weekend,
    year,
    month,
    day_of_week
  FROM elt_daily_category_sales_trend
  ORDER BY sale_date, product_category;
"""
}

res = {k: pd.read_sql(v, conn) for k,v in elt_queries.items()}
display(res["Q1_total_revenue"], res["Q2_revenue_by_month"], res["Q3_revenue_by_category"], res['Q7_trend_vs_revenue_daily'])

In [ ]:
pd.read_sql("""
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name;
""", conn)

In [ ]:
pd.read_sql("SELECT transaction_date, COUNT(*) n FROM raw_sales GROUP BY transaction_date LIMIT 10;", conn)
pd.read_sql("SELECT transaction_date FROM raw_sales LIMIT 20;", conn)
pd.read_sql("SELECT unit_price, transaction_qty FROM raw_sales LIMIT 20;", conn)

pd.read_sql("""
SELECT
  SUM(CASE WHEN transaction_date IS NULL THEN 1 ELSE 0 END) AS null_date,
  SUM(CASE WHEN unit_price IS NULL THEN 1 ELSE 0 END) AS null_price,
  SUM(CASE WHEN transaction_qty IS NULL THEN 1 ELSE 0 END) AS null_qty
FROM raw_sales;
""", conn)

conn.close()

In [ ]:
# Path DB ELT
db_path = DB_PATH_ELT  # contoh: /content/bigdata_final_project/warehouse/coffee_dw_elt.sqlite
output_file = "elt_analytical_queries_result.xlsx"

conn = sqlite3.connect(db_path)

with pd.ExcelWriter(output_file, engine="openpyxl") as writer:
    for sheet_name, query in elt_queries.items():
        df = pd.read_sql(query, conn)
        # Excel sheet name max 31 chars
        df.to_excel(writer, sheet_name=sheet_name[:31], index=False)

conn.close()

files.download(output_file)